{% extends "booking/base.html" %}
{% block content %}
    <h1>Restaurant Tables</h1>
    <div>
        <form method="POST" action="{{ add_table }}">
            {% csrf_token %}
            {{ form.as_p }}
            <div>
                <p>
                    <button type="submit">Add table</button>
                </p>
            </div>
        </form>
    </div>
    <div>
        <table><p>hello</p>
            {% for table in tables %}
                <tr>
                    <td>{{ table.table_id }}</td>
                    <td>{{ table.capacity }}</td>
                    <td>
                        <a href="/edit/{{ table.id }}">
                            <button>Edit</button>
                        </a>
                    </td>
                    <td>
                        <a href="/delete/{{ table.id }}">
                            <button>Delete</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}