{% extends "booking/base.html" %}
{% block content %}

{% load crispy_forms_tags %}

<h1>This is the bookings page</h1>
    <div>
        {% if user.is_authenticated %}
        <div>
            <form method="POST" action="{{ make_booking }}" style="margin-top: 1.3rem; padding: 5rem;">
                {{ form | crispy }}
                {% csrf_token %}
                <div>
                    <p>
                        Please enter date field with date time entry in format: (2023-01-23 14:45:00)
                    </p>
                    <p>
                        <button type="submit">Confirm details</button>
                    </p>
                </div>
            </form>
        </div>
        {% else %}
        <div>
            <p>Please sign in to make a booking</p>
        </div>
        {% endif %}
    </div>
    <div>
        {% if user.is_superuser %}
        <p>Hello Pepper and Puddles Team</p>
        {% endif %}
    </div>
{% endblock %}
