{% extends "booking/base.html" %}
{% block content %}
    </header>
    {% if user.is_superuser %}
    <h2>Confirmed Bookings</h2>
    <table>
        
            <tr>
                <th>Name</th>
                <th>Contact</th>
                <th>Email</th>
                <th>Guests</th>
                <th>Date</th>
            </tr>
            <tr>
                {% for booking in bookings %}
                <td>{{ booking.name }}</td>
                <td>{{ booking.phone }}</td>
                <td>{{ booking.email }}</td>
                <td>{{ booking.guests }}</td>
                <td>{{ booking.date }}</td>
                <td>
                    <a href="/edit/{{ booking.id }}">
                        <button>Edit</button>
                    </a>
                </td>
                <td>
                    <a href="/delete/{{ booking.id }}">
                        <button>Delete</button>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>

    {% endif %}
{% endblock %}