{% extends "booking/base.html" %}
{% block content %}
    </header>
    {% if user.is_superuser %}
    <h2>Confirmed Bookings</h2>
    <table>
        
            <tr>
                <th>Name</th>
                <th>Contact</th>
                <th>Email</th>
                <th>Guests</th>
                <th>Date</th>
            </tr>
            <tr>
                {% for booking in bookings %}
                <td>{{ booking.name }}</td>
                <td>{{ booking.phone }}</td>
                <td>{{ booking.email }}</td>
                <td>{{ booking.guests }}</td>
                <td>{{ booking.date }}</td>
                <td>
                    <a href="/edit/{{ booking.id }}">
                        <button>Edit</button>
                    </a>
                </td>
                <td>
                    <a href="/delete/{{ booking.id }}">
                        <button>Delete</button>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>

    {% endif %}
    <footer>
        <div class="footer">
            <div>
                <a href="../" class="restaurant-logo-footer">P&P</a>
            </div>
            <span>
                <a href="https://www.facebook.com" rel="noopener" aria-label="Facebook" target="_blank">
                <i class="fab fa-facebook footer-icons"></i>
                </a>          
            </span>
            <span>
                <a href="https://www.instagram.com" rel="noopener" aria-label="Instagram" target="_blank">
                <i class="fab fa-instagram footer-icons"></i>
                </a>
            </span>
            <span>
                <a href="https://www.twitter.com" rel="noopener" aria-label="Twitter" target="_blank">
                <i class="fab fa-twitter footer-icons"></i>
                </a>
            </span>
        </div>
    </footer>
</body>
{% endblock %}